<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Credevlab\ConfigurableBundle\Api\ProductOptionTypeListInterface" type="Magento\Bundle\Model\OptionTypeList" />
    <preference for="Credevlab\ConfigurableBundle\Api\Data\OptionTypeInterface" type="Magento\Bundle\Model\Source\Option\Type" />
    <preference for="Credevlab\ConfigurableBundle\Api\ProductLinkManagementInterface" type="Credevlab\ConfigurableBundle\Model\LinkManagement" />
    <preference for="Credevlab\ConfigurableBundle\Api\Data\LinkInterface" type="Credevlab\ConfigurableBundle\Model\Link" />
    <preference for="Credevlab\ConfigurableBundle\Api\ProductOptionRepositoryInterface" type="Credevlab\ConfigurableBundle\Model\OptionRepository" />
    <preference for="Credevlab\ConfigurableBundle\Api\ProductOptionManagementInterface" type="Credevlab\ConfigurableBundle\Model\OptionManagement" />
    <preference for="Credevlab\ConfigurableBundle\Api\Data\OptionInterface" type="Credevlab\ConfigurableBundle\Model\Option" />
    <preference for="Credevlab\ConfigurableBundle\Api\Data\BundleOptionInterface" type="Magento\Bundle\Model\BundleOption" />
    <preference for="Credevlab\ConfigurableBundle\Pricing\Adjustment\SelectionPriceListProviderInterface" type="Credevlab\ConfigurableBundle\Pricing\Adjustment\DefaultSelectionPriceListProvider" />
    <type name="Credevlab\ConfigurableBundle\Model\Source\Option\Type">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="select" xsi:type="string">Drop-down</item>
                <item name="radio" xsi:type="string">Radio Buttons</item>
                <item name="checkbox" xsi:type="string">Checkbox</item>
                <item name="multi" xsi:type="string">Multiple Select</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\CatalogPrice">
        <arguments>
            <argument name="priceModelPool" xsi:type="array">
                <item name="configurable_bundle" xsi:type="string">Credevlab\ConfigurableBundle\Model\Product\CatalogPrice</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Credevlab\ConfigurableBundle\Pricing\Adjustment\Collection" type="Magento\Framework\Pricing\Adjustment\Collection">
    </virtualType>
    <preference for="Credevlab\ConfigurableBundle\Pricing\Adjustment\BundleCalculatorInterface" type="Credevlab\ConfigurableBundle\Pricing\Adjustment\Calculator" />
    <virtualType name="Credevlab\ConfigurableBundle\Pricing\PriceInfo" type="Magento\Framework\Pricing\PriceInfo\Base">
        <arguments>
            <argument name="adjustmentCollection" xsi:type="object">Credevlab\ConfigurableBundle\Pricing\Adjustment\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="Credevlab\ConfigurableBundle\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="regular_price" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\BundleRegularPrice</item>
                <item name="final_price" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\FinalPrice</item>
                <item name="tier_price" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\TierPrice</item>
                <item name="special_price" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\SpecialPrice</item>
                <item name="custom_option_price" xsi:type="string">Magento\Catalog\Pricing\Price\CustomOptionPrice</item>
                <item name="base_price" xsi:type="string">Magento\Catalog\Pricing\Price\BasePrice</item>
                <item name="configured_price" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\ConfiguredPrice</item>
                <item name="configured_regular_price" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\ConfiguredRegularPrice</item>
                <item name="bundle_option" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\BundleOptionPrice</item>
                <item name="bundle_option_regular_price" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\BundleOptionRegularPrice</item>
                <item name="catalog_rule_price" xsi:type="string">Magento\CatalogRule\Pricing\Price\CatalogRulePrice</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Credevlab\ConfigurableBundle\Pricing\Price\Collection" type="Magento\Framework\Pricing\Price\Collection">
        <arguments>
            <argument name="pool" xsi:type="object">Credevlab\ConfigurableBundle\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Pricing\PriceInfo\Factory">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="configurable_bundle" xsi:type="array">
                    <item name="infoClass" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\PriceInfo</item>
                    <item name="prices" xsi:type="string">Credevlab\ConfigurableBundle\Pricing\Price\Collection</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Credevlab\ConfigurableBundle\Pricing\Price\FinalPrice">
        <arguments>
            <argument name="calculator" xsi:type="object">Credevlab\ConfigurableBundle\Pricing\Adjustment\BundleCalculatorInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Pricing\Price\ConfiguredPriceSelection">
        <arguments>
            <argument name="calculator" xsi:type="object">Credevlab\ConfigurableBundle\Pricing\Adjustment\BundleCalculatorInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Attribute\Backend\Price">
        <plugin name="configurable_bundle" type="Credevlab\ConfigurableBundle\Model\Plugin\PriceBackend" sortOrder="120" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="configurable_bundle" type="Credevlab\ConfigurableBundle\Model\Plugin\Product" sortOrder="120" />
    </type>
    <type name="Magento\Sales\Model\Order\Item">
        <plugin name="configurable_bundle" type="Credevlab\ConfigurableBundle\Model\Sales\Order\Plugin\Item" sortOrder="120" />
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="create_bundle_options" xsi:type="string">Magento\Bundle\Model\Product\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="update_bundle_options" xsi:type="string">Magento\Bundle\Model\Product\SaveHandler</item>
                    </item>
                    <item name="read" xsi:type="array">
                        <item name="read_bundle_options" xsi:type="string">Magento\Bundle\Model\Product\ReadHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Credevlab\ConfigurableBundle\Model\Product\Type">
        <arguments>
            <argument name="stockRegistry" xsi:type="object">Magento\CatalogInventory\Api\StockRegistryInterface\Proxy</argument>
            <argument name="stockState" xsi:type="object">Magento\CatalogInventory\Api\StockStateInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Helper\Product">
        <arguments>
            <argument name="reindexPriceIndexerData" xsi:type="array">
                <item name="byDataResult" xsi:type="array">
                    <item name="is_relations_changed" xsi:type="string">is_relations_changed</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="append_bundle_data_to_order" type="Credevlab\ConfigurableBundle\Model\Plugin\QuoteItem"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <arguments>
            <argument name="cartItemProcessors" xsi:type="array">
                <item name="configurable_bundle" xsi:type="object">\Magento\Bundle\Model\CartItemProcessor\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <arguments>
            <argument name="processorPool" xsi:type="array">
                <item name="configurable_bundle" xsi:type="object">Credevlab\ConfigurableBundle\Model\ProductOptionProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Credevlab\ConfigurableBundle\Ui\DataProvider\Product\Listing\Collector\BundlePrice">
        <arguments>
            <argument name="excludeAdjustments" xsi:type="array">
                <item name="weee" xsi:type="string">weee</item>
                <item name="weee_tax" xsi:type="string">weee_tax</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductRenderCollectorComposite">
        <arguments>
            <argument name="productProviders" xsi:type="array">
                <item name="configurable_bundle_price" xsi:type="object">\Credevlab\ConfigurableBundle\Ui\DataProvider\Product\Listing\Collector\BundlePrice</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Price\SpecialPriceStorage">
        <arguments>
            <argument name="allowedProductTypes" xsi:type="array">
                <item name="6" xsi:type="string">configurable_bundle</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\BatchSizeCalculator">
        <arguments>
            <argument name="estimators" xsi:type="array">
                <item name="configurable_bundle" xsi:type="object">Magento\Catalog\Model\Indexer\Price\CompositeProductBatchSizeManagement</item>
            </argument>
            <argument name="batchSizeAdjusters" xsi:type="array">
                <item name="configurable_bundle" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\CompositeProductBatchSizeAdjuster</item>
            </argument>
        </arguments>
    </type>
    <type name="Credevlab\ConfigurableBundle\Model\ResourceModel\Indexer\Price">
        <arguments>
            <argument name="tableStrategy" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\Indexer\TemporaryTableStrategy</argument>
            <argument name="connectionName" xsi:type="string">indexer</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogInventory\Model\Indexer\Stock\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="array">
                <item name="configurable_bundle" xsi:type="number">138</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Credevlab\ConfigurableBundle\Api\Data\OptionInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">catalog_product_bundle_option</item>
                    <item name="identifierField" xsi:type="string">option_id</item>
                </item>
                <item name="Credevlab\ConfigurableBundle\Model\Selection" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">catalog_product_bundle_selection</item>
                    <item name="identifierField" xsi:type="string">selection_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Credevlab\ConfigurableBundle\Api\Data\OptionInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Credevlab\ConfigurableBundle\Model\Selection" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Quote\ChildrenValidationLocator">
        <arguments>
            <argument name="productTypeChildrenValidationMap" xsi:type="array">
                <item name="configurable_bundle" xsi:type="boolean">false</item>
            </argument>
        </arguments>
    </type>
</config>
